.contact-page {
    margin-top: -150px;
    display: flex;
    flex-direction: column;
  }
  
  .contact-header {
    text-align: center;
    margin-top: 20px;
    color: #333; 
  }
  
  .contact-info {
    margin-top: 20px; 
    font-size: 18px; 
  }
  
  .contact-info p {
    margin-bottom: 10px; 
  }
  

  .contact-info a {
    color: #007bff; 
  }
  