/* Footer.css */
.footer {
    background: linear-gradient(135deg, #FF9900, #cc33ff); /* Màu nền footer */
    color: white;
    padding: 30px 0; 
    margin-top: 50px; 
  }
  .footer h5 {
    color: white;
  }
  .footer h6 {
    color: white; 
    margin-left: 380px;
  }
  
  .footer ul {
    list-style: none; /* Loại bỏ bullet của danh sách ul */
    padding: 0; /* Xóa padding mặc định của ul */
  }
  
  .footer ul li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục danh sách */
  }
  
  .footer a {
    color: white; /* Màu chữ các liên kết */
    text-decoration: none; 
    margin-left: 380px;/* Loại bỏ gạch chân mặc định của liên kết */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Gạch chân khi hover */
  }
  
  .footer p {
    margin-bottom: 10px;
    color: white; 
    frontSiz
  }
  
  .footer .text-center {
    margin-top: 20px; */
  }
  