/* Display with phone */
html {
  font-size: 14px; 
}

/* Profile */
/* .profile.light {
  margin-top: 5rem; 
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ff5722, #ffd700);
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
} */
.profile.light {
  margin-top: 5rem; 
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ff5722, #ffd700);
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
}

.profile.dark {
  margin-top: 5rem; 
  display: flex;
  flex-direction: column;
  z-index: 1;
  transition: background-color 0.3s, color 0.3s;
  background-color: #333333; 
  color: #ffffff; 
}
/* Transition */
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
  
}

@keyframes underline {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}

/* container */
.typing-container {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  animation: typing 6s;
  overflow: hidden;
}
/* container 1*/
.typing-container1 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  animation: typing 6s;
}
/* animation */
/* .typing-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 0.125rem; 
  height: 1em; 
  background: #ffd700;
  transform-origin: bottom;
  animation: blink 0.5s step-start infinite;
} */
/* typing text 1 */
.typing-text1::before {
  font-size: 1.5rem; 
  content: " Hi 👋, I'm Vu Trung Nghia";
  color: #00FFFF;
  animation: words 20s infinite;
  
}
/* typing text 2 */
.typing-text2::before {
  font-size: 1.5rem;  
  content: "I'm a Web Developer";
  color: #00FFFF;
  animation: words 20s infinite;
}

.profile-content {
  padding: 3rem 0; 
}

.profile h1 {
  font-size: 2.5rem; 
  margin-bottom: 0.5rem; 
}

.profile p {
  font-size: 1.25rem; 
  margin-bottom: 1rem; 
}

/* Skill */
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem; 
  margin-left: auto;
  margin-right: auto;
  transform: translate(-8px, 1px);
}

.skill-icon {
  text-align: center;
  margin: 0 1rem; 
  transition: transform 0.3s ease-out;
  animation: bounce 2s infinite alternate;
}

.skill-icon img {
  width: 5rem; 
  height: 5rem; 
  border: 0.125rem solid #333;
  border-radius: 50%;
  padding: 0.5rem; 
}

.skill-icon p {
  font-size: 1rem; 
  margin-top: 0.5rem; 
  text-align: center;
}

.profile-intro {
  text-align: center;
}

@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-0.5rem); 
  }
}

/* Square-box */
.square-box {
  height: 10rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  margin: 0.5rem 0; 
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem; 
}

.square-box:hover {
  transform: translateY(-0.5rem); 
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3); 
}

.square-box p {
  text-align: center;
  margin: 0;
  color: #000000;
}

.education {
  background: linear-gradient(135deg, #FF9900, #cc33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem; 
}

.figma {
  background: linear-gradient(135deg, #00FFFF, #cc33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
}

.network {
  background: linear-gradient(135deg, #CCCCFF, #cc33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem;
}

.music {
  background: linear-gradient(135deg, #33FF33, #cc33ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.25rem; 
}

/* Button Contact */
.button {
  width: 10rem; 
  margin-left: auto; 
  margin-right: auto; 
  font-size: 1rem; 
  padding: 0.5rem 1rem; 
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 1rem; 
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  filter: brightness(1.2);
  box-shadow: 0 0 0.75rem rgba(255, 255, 0.8); 
  transform: scale(1.2);
  
}

/* Button CV */
.button-cv button {
  width: 10rem; 
  margin-left: auto; 
  margin-right: auto; 
  font-size: 1rem; 
  padding: 0.5rem 1rem; 
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 1rem; 
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease;
}

.button-cv button:hover {
  background-color: #0056b3;
  filter: brightness(1.2);
  box-shadow: 0 0 0.75rem rgba(255, 255, 0.8); 
  transform: scale(1.2);

}

/* Social */
.social-icons {
  margin-top: 2rem; 
  margin-left: auto; 
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem; 
  height: 3.5rem; 
  background-color: transparent;
  border: 0.2rem solid #1E90FF; 
  font-size: 1.75rem; 
  border-radius: 50%;
  margin: 0 1rem; 
  transition: 0.3s ease;
  color: #00FFFF;
  text-decoration: none;
}

.social-icons a:hover {
  color: #00FFFF;
  transform: scale(1.2) translateY(-0.25rem);
  background-color: #1E90FF;
  box-shadow: 0 0 1.25rem #00FFFF;
}

/* Images */
.profile-image {
  margin-bottom: 1rem; 
  width: 20rem; 
  margin-right: auto;
  margin-left: auto;
  height: 15rem; 
  border-radius: 20%;
  transition: all 0.3s ease;
}

.profile-image:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 0.75rem rgba(255, 255, 0.8); 
  transform: scale(1.05);
}

 /* snow */
.snowfall {
  position: absolute; /* Make sure it covers the entire parent element */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* To keep snow out of the element */
  pointer-events: none; /* So as not to affect other elements */
}

.snowflake {
  position: relative; 
  width: 0.5rem; 
  height: 0.5rem; 
  background-color: rgba(255, 255, 0, 0.8); 
  border-radius: 80%; 
  opacity: 0.8; 
  animation: snow 9s linear infinite; 
}

@keyframes snow {
  0% {
    transform: translateY(-100vh); 
    opacity: 0.8rem;
  }
  20%{
    transform: translateY(-80vh); 
    opacity: 0.8rem;
  }
  30%{
    transform: translateY(-50vh); 
    opacity: 0.8rem;
  }
  100% {
    transform: translateY(400vh); 
  }
}

